<div id="cl-wrapper">

  <div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <%= link_to ({:controller => "home", :action => "index"}) do %>
            <div class="sidebar-logo" style="background-color:#4A4A4A">
              <div class="logo">
              </div>
            </div>
          <% end %>
          <div class="side-user">
            <div class="avatar square-img"><img src="/images/dashboard/useravatar.png" alt="Avatar" style="border-radius:0" /></div>

            <div class="info info-align">
              <p>
                <b><%= @user.company %></b><br/><%= @user.name %>
              </p>
            </div>
          </div>
          <ul class="cl-vnavigation">
          </ul>
        </div>
      </div>
      <div class="text-right collapse-button" style="padding:7px 9px;">
        <input type="text" class="form-control search" placeholder="Search..." />
        <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
      </div>
    </div>
  </div>

	<div class="container-fluid" id="pcont">
   <!-- TOP NAVBAR -->  

  	<div class="cl-mcont">		
      <div class="page-head">
  			<ol class="breadcrumb">
  			  <li><%= link_to "Home", {:controller => "home", :action => "index"} %></li>
  			  <li><%= link_to "Logout", {:action => "logout"} %></li>
  			</ol>
  		</div>

      <!-- PIE CHARTS COLUMN -->
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <!--CHART Total Requests by User Type -->
  				<div class="block-flat" style="height: 440px;">
  					<div class="header">
  						<h3>Total Requests by User Type</h3>
  					</div>
  					<div class="content overflow-hidden">
  						<div id="piec" style="height: 300px; padding: 0px; position: relative;">
  						</div>
  					</div>
  				</div>
        

          <!--CHART Unique IP Addresses by User Type -->
          <div class="block-flat" style="height: 440px;">
            <div class="header">              
              <h3>Unique IP Addresses by User Type</h3>
            </div>
            <div class="content">
              <div id="piec1" style="height: 300px; padding: 0px; position: relative;">
              </div>              
            </div>
          </div>
        </div>

        <!--CHART Top Visitors per User Type--> 
        <div class="col-sm-6 col-md-6">
          <div class="block-flat" style="height: 894px;">
            <div class="header">              
              <h3 id="visitor-title">Top Visitors</h3>
            </div>

          

            <div class="content">
              <div id="site_statistics2" style="height: 180px; padding: 0px; position: relative;"></div>    
            </div>
   
            <!--CHART Top Visitors per User Type TEXT--> 
            <div class="header" style="padding-top: 30px;"> 
              <h4><span id="visitor-details-title">Top Visitor Details</span>
                <select onchange="changeType(this)">
                  <option selected value=0>Overall</option>
                  <option value=1>Users</option>
                  <option value=2>Bots</option>
                  <option value=3>Indexing</option>
                  <option value=4>Automated</option>
                  <option value=5>Developers</option>            
                </select> 
              </h4>
            </div>

            

            <ol>
              <div class = "col-md-6" style="padding-top: 20px;">
                <div id="top-visitors-0">
                  <% if !@topips.nil? %>
                    <% @topips[0..4].each do |topip| %>
                      <li>
                        <p><b><%= topip.title %></b><br> IP Address: <%= topip.ipaddress %><br> Total Requests: <%= topip.request %></p> 
                      </li>
                    <% end %>
                  <% end %> 
                </div>
                <% for i in 1..5 %>
                  <div id="top-visitors-<%= i %>" hidden = true>
                    <% if !@topips.nil? and !@topips.select{|x| x.type_id == i}.nil? %>
                      <% @topips.select{|x| x.type_id == i}[0..4].each do |topip| %>
                        <li>
                          <p><b><%= topip.title %></b><br> IP Address: <%= topip.ipaddress %><br> Total Requests: <%= topip.request %></p> 
                        </li>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class = "col-md-6" style="padding-top: 20px;">
                <div id="top-visitors-0-more">
                  <% if !@topips.nil? and @topips.length > 5 %>
                    <% @topips[5..9].each do |topip| %>
                      <li>
                        <p><b><%= topip.title %></b>
                        <br>
                        IP Address: <%= topip.ipaddress %>
                         <br>
                        Total Requests: <%= topip.request %>
                        </p> 
                      </li>
                    <% end %>
                  <% end %>
                </div>
                <% for i in 1..5 %>
                  <div id="top-visitors-<%= i %>-more" hidden>
                    <% if !@topips.nil? and !@topips.select{|x| x.type_id == i}.nil? and @topips.select{|x| x.type_id == i}.length > 5%>
                      <% @topips.select{|x| x.type_id == i}[5..9].each do |topip| %>
                        <li>
                          <p><b><%= topip.title %></b>
                          <br>
                          IP Address: <%= topip.ipaddress %>
                           <br>
                          Total Requests: <%= topip.request %>
                          </p> 
                        </li>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              </div>

            </ol> 
          </div>
        </div>    
      </div> 		
      
      <!--CHART Daily Requests per Class-->
      <div class="row">
        <div class="col-md-12">
          <div class="block-flat">
            <div class="header">
              <h3>Daily Requests per Class</h3>
            </div>
            <div class="content">
              <div id="site_statistics" style="height: 380px; padding: 0px; position: relative;"></div>
            </div>
          </div>
        </div>  
      </div> 

      <div class="row">
        <!--Hourly Requests per Class-->   
        <div class="col-md-12">
          <div class="block-flat">
            <div class="header">
              <h3>Hourly Requests per Class</h3>
            </div>
            <div class="content">
              <div id="site_statistics3" style="height: 380px; padding: 0px; position: relative;"></div>
            </div>
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-md-12">
          <div class="block-flat">
            <div class="header">
            <h3>Request Locations</h3>
          </div>
            <div class="content" id="world-map" style="height: 480px;">
            </div>
          </div>        
        </div>
      </div>    
  
    </div>
  </div>
</div> 

<script type="text/javascript">

  function changeType(elementNode){

    document.getElementById("top-visitors-0").hidden = true;
    document.getElementById("top-visitors-1").hidden = true;
    document.getElementById("top-visitors-2").hidden = true;
    document.getElementById("top-visitors-3").hidden = true;
    document.getElementById("top-visitors-4").hidden = true;
    document.getElementById("top-visitors-5").hidden = true;

    document.getElementById("top-visitors-0-more").hidden = true;
    document.getElementById("top-visitors-1-more").hidden = true;
    document.getElementById("top-visitors-2-more").hidden = true;
    document.getElementById("top-visitors-3-more").hidden = true;
    document.getElementById("top-visitors-4-more").hidden = true;
    document.getElementById("top-visitors-5-more").hidden = true;

    
    switch(elementNode.value)
    {
    case "1":
      document.getElementById('visitor-details-title').innerHTML = "Top User Details";
      // document.getElementById('visitor-title').innerHTML = "Top Users";
      document.getElementById("top-visitors-1").hidden = false;
      document.getElementById("top-visitors-1-more").hidden = false;
      break;
    case "2":
      document.getElementById('visitor-details-title').innerHTML = "Top Scraper Details";
      // document.getElementById('visitor-title').innerHTML = "Top Scrapers";
      document.getElementById("top-visitors-2").hidden = false;
      document.getElementById("top-visitors-2-more").hidden = false;
      break;
    case "3":
      document.getElementById('visitor-details-title').innerHTML = "Top Indexing Details";
      // document.getElementById('visitor-title').innerHTML = "Top Indexing visitors";
      document.getElementById("top-visitors-3").hidden = false;
      document.getElementById("top-visitors-3-more").hidden = false;
      break;
    case "4":
      document.getElementById('visitor-details-title').innerHTML = "Top Automated Details";
      // document.getElementById('visitor-title').innerHTML = "Top Automated visitors";
      document.getElementById("top-visitors-4").hidden = false;
      document.getElementById("top-visitors-4-more").hidden = false;
      break;
    case "5":
      document.getElementById('visitor-details-title').innerHTML = "Top Developers Details";
      // document.getElementById('visitor-title').innerHTML = "Top Developers";
      document.getElementById("top-visitors-5").hidden = false;
      document.getElementById("top-visitors-5-more").hidden = false;
      break;
    default:
      document.getElementById('visitor-details-title').innerHTML = "Top Visitor Details";
      // document.getElementById('visitor-title').innerHTML = "Top Visitors";
      document.getElementById("top-visitors-0").hidden = false;
      document.getElementById("top-visitors-0-more").hidden = false;
    }
  }

  $(window).load(function(){
    if (!jQuery.plot) {
      return;
    }
    var data = [];
    var totalPoints = 250;

    if ($('#site_statistics').size() != 0) {

      /* Charts and other dashboard */

      color_scheme=["#2B82C0", "#7ACBBE", "#F58236", "#FEE95E", "#744B9E"];

      $('#site_statistics_loading').hide();
      $('#site_statistics_content').show();
      

      /* Requests per day by class */

      <%
        dailyrequest_user_str = ""
        dailyrequest_ticks_str = ""
        i = 1 
        @dailyrequests.select{|x| x.type_id == 1}.each do |dailyrequest|
          dailyrequest_user_str += '[' + i.to_s + ', ' + dailyrequest.value.to_s + '],'
          if i % 2 == 0
            dailyrequest_ticks_str += '[' + i.to_s + ', "' + dailyrequest.rdate.strftime("%m/%d") + '"],'
          end
          i += 1
        end
        dailyrequest_user_str = dailyrequest_user_str[0..-1].html_safe if dailyrequest_user_str.length > 0
        dailyrequest_ticks_str = dailyrequest_ticks_str[0..-1].html_safe if dailyrequest_ticks_str.length > 0

        dailyrequest_bot_str = ""
        i = 1 
        @dailyrequests.select{|x| x.type_id == 2}.each do |dailyrequest|
          dailyrequest_bot_str += '[' + i.to_s + ', ' + dailyrequest.value.to_s + '],'
          i += 1
        end
        dailyrequest_bot_str = dailyrequest_bot_str[0..-1].html_safe if dailyrequest_bot_str.length > 0

        dailyrequest_indexing_str = ""
        i = 1 
        @dailyrequests.select{|x| x.type_id == 3}.each do |dailyrequest|
          dailyrequest_indexing_str += '[' + i.to_s + ', ' + dailyrequest.value.to_s + '],'
          i += 1
        end
        dailyrequest_indexing_str = dailyrequest_indexing_str[0..-1].html_safe if dailyrequest_indexing_str.length > 0

        dailyrequest_automated_str = ""
        i = 1 
        @dailyrequests.select{|x| x.type_id == 4}.each do |dailyrequest|
          dailyrequest_automated_str += '[' + i.to_s + ', ' + dailyrequest.value.to_s + '],'
          i += 1
        end
        dailyrequest_automated_str = dailyrequest_automated_str[0..-1].html_safe if dailyrequest_automated_str.length > 0
      %>

      var dailyrequest_1 = [<%= dailyrequest_user_str %>];
      var dailyrequest_2 = [<%= dailyrequest_bot_str %>];
      var dailyrequest_3 = [<%= dailyrequest_indexing_str %>];
      var dailyrequest_4 = [<%= dailyrequest_automated_str %>];
      var dailyrequest_ticks = [<%= dailyrequest_ticks_str %>];

      var plot_statistics = $.plot($("#site_statistics"), [
       {
        data: dailyrequest_1,
        label: "<%= @dailyrequests.select{|x| x.type_id == 1}.first.name %>"
      },
      {
        data: dailyrequest_2,
        label: "<%= @dailyrequests.select{|x| x.type_id == 2}.first.name %>"
      },
      {
        data: dailyrequest_3,
        label: "<%= @dailyrequests.select{|x| x.type_id == 3}.first.name %>"
      },
      {
        data: dailyrequest_4,
        label: "<%= @dailyrequests.select{|x| x.type_id == 4}.first.name %>"
      }
     ],
       {
        series: {
          lines: {
            show: true,
            lineWidth: 0.25, 
            fill: true,
            fillColor: {
              colors: [{
                opacity: 0.05
              }, {
                opacity: 0.05
              }
              ]
            } 
          },
          points: {
            show: true
          },
          shadowSize: 2
        },
        legend:{
          show: false
        },
        grid: {
        labelMargin: 10,
           axisMargin: 500,
          hoverable: true,
          clickable: true,
          tickColor: "rgba(0,0,0,0.15)",
          borderWidth: 0
        },

      /* USERS: "#"  BOTS: "#" AUTOMATED: "#" INDEXING:"#"  DEVELOPERS:"#" */
        colors: color_scheme,
        xaxis: {
           ticks: dailyrequest_ticks
        },
        yaxis: {
          ticks: 5,
          tickDecimals: 0
        }
      });
      

    <%
      pageviews_str = "" 
      i = 1
      @topips[0..4].each do |topip|
        pageviews_str += '[' + i.to_s + ',' + topip.request.to_s + '],'
        i += 1
      end
    %>
    var pageviews = [<%= pageviews_str[0..-1] %>];

    var plot_statistics2 = $.plot($("#site_statistics2"), [{
        data: pageviews,
        label: "Unique Visits"
      }
      ], {
        series: {
          bars: {
            show: true,
            barWidth: 0.6,
            lineWidth: 0,
            fill: true,
            hoverable: true,
            fillColor: {
              colors: [{
                opacity: 1
              }, {
                opacity: 1
              }
              ]
            } 
          },
          shadowSize: 2
        },
        legend:{
          show: false
        },
        grid: {
        labelMargin: 10,
           axisMargin: 500,
          hoverable: true,
          clickable: true,
          tickColor: "rgba(0,0,0,0.15)",
          borderWidth: 0
        },
        colors: ["#7ACBBE"],
        xaxis: {
          ticks: [[1.3, 1], [2.3, 2], [3.3, 3],[4.3, 4], [5.3, 5]],
          tickDecimals: 0
        },
        yaxis: {
          ticks: 6,
          tickDecimals: 0
        }
      });


      /* Peak Hours - Chart */

      <%
        hourrequest_user_str = ""
        hourrequest_ticks_str = ""
        i = 1 
        @hourrequests.select{|x| x.type_id == 1}.each do |hourrequest|
          hourrequest_user_str += '[' + i.to_s + ', ' + hourrequest.value.to_s + '],'
          if i % 3 == 0
            hourrequest_ticks_str += '[' + i.to_s + ', "' + hourrequest.rdate.strftime("%H %p") + '"],'
          end
          i += 1
        end
        hourrequest_user_str = hourrequest_user_str[0..-1].html_safe if hourrequest_user_str.length > 0
        hourrequest_ticks_str = hourrequest_ticks_str[0..-1].html_safe if hourrequest_ticks_str.length > 0

        hourrequest_bot_str = ""
        i = 1 
        @hourrequests.select{|x| x.type_id == 2}.each do |hourrequest|
          hourrequest_bot_str += '[' + i.to_s + ', ' + hourrequest.value.to_s + '],'
          i += 1
        end
        hourrequest_bot_str = hourrequest_bot_str[0..-1].html_safe if hourrequest_bot_str.length > 0

        hourrequest_indexing_str = ""
        i = 1 
        @hourrequests.select{|x| x.type_id == 3}.each do |hourrequest|
          hourrequest_indexing_str += '[' + i.to_s + ', ' + hourrequest.value.to_s + '],'
          i += 1
        end
        hourrequest_indexing_str = hourrequest_indexing_str[0..-1].html_safe if hourrequest_indexing_str.length > 0
        hourrequest_automated_str = ""
        i = 1 
        @hourrequests.select{|x| x.type_id == 4}.each do |hourrequest|
          hourrequest_automated_str += '[' + i.to_s + ', ' + hourrequest.value.to_s + '],'
          i += 1
        end
        hourrequest_automated_str = hourrequest_automated_str[0..-1].html_safe if hourrequest_automated_str.length > 0
      %>
      
      var hourrequest_1 = [<%= hourrequest_user_str %>];
      var hourrequest_2 = [<%= hourrequest_bot_str %>];
      var hourrequest_3 = [<%= hourrequest_indexing_str %>];
      var hourrequest_4 = [<%= hourrequest_automated_str %>];
      var hourrequest_ticks = [<%= hourrequest_ticks_str %>];

      var plot_statistics = $.plot($("#site_statistics3"), [
       {
        data: hourrequest_1,
        label: "<%= @hourrequests.select{|x| x.type_id == 1}.first.name %>"
      },
      {
        data: hourrequest_2,
        label: "<%= @hourrequests.select{|x| x.type_id == 2}.first.name %>"
      },
      {
        data: hourrequest_3,
        label: "<%= @hourrequests.select{|x| x.type_id == 3}.first.name %>"
      },
      {
        data: hourrequest_4,
        label: "<%= @hourrequests.select{|x| x.type_id == 4}.first.name %>"
      }
     ],
       {
        series: {
          lines: {
            lineColor: color_scheme,
            show: true,
            lineWidth: 0.25, 
            fill: true,
            fillColor: {
              colors: [{
                opacity: 0.0
              }, {
                opacity: 0.0
              }
              ]
            } 
          },
          points: {
            show: true
          },
          shadowSize: 2
        },
        legend:{
          show: false
        },
        grid: {
        labelMargin: 10,
           axisMargin: 500,
          hoverable: true,
          clickable: true,
          tickColor: "rgba(0,0,0,0.15)",
          borderWidth: 0
        },
        //colors: color_scheme,
        xaxis: {
           ticks: hourrequest_ticks
        },
        yaxis: {
          ticks: 5,
          tickDecimals: 0
        }
      });
      

      /* Requests by Type - Pie chart */

      <%
        requesttype_str = ""
        @requesttypes.each do |requesttype|
          requesttype_str += '{ label: "' + requesttype.name + '", data: ' + requesttype.value.to_s + '},'
        end
        if requesttype_str.length > 0
          requesttype_str = requesttype_str[0..-1].html_safe
        end
      %>

      var requesttype = [<%= requesttype_str %>]; 

      $.plot('#piec', requesttype, {
        series: {
          pie: {
            show: true,
            innerRadius: 0.27,
            shadow:{
              top: 5,
              left: 15,
              alpha:0.3
            },
            stroke:{
              width:0
            },
            label: {
              show: true,
              formatter: function (label, series) {
                  return '<div style="font-size:12px;text-align:center;padding:2px;color:#333;">' + label + '</div>';

              }
            },
            highlight:{
              opacity: 0.08
            }
          }
        },
        grid: {
          hoverable: true,
          clickable: true
        },
        colors: color_scheme,
        legend: {
          show: false
        }
      });

      /* IPs by Type - Pie chart */

      <%
        iptype_str = ""
        @iptypes.each do |iptype|
          iptype_str += '{ label: "' + iptype.name + '", data: ' + iptype.value.to_s + '},'
        end
        if iptype_str.length > 0
          iptype_str = iptype_str[0..-1].html_safe
        end
      %>

      var iptype = [<%= iptype_str %>]; 

      $.plot('#piec1', iptype, {
        series: {
          pie: {
            show: true,
            innerRadius: 0.27,
            shadow:{
              top: 5,
              left: 15,
              alpha:0.3
            },
            stroke:{
              width:0
            },
            label: {
                        show: true,
                        formatter: function (label, series) {
                            return '<div style="font-size:12px;text-align:center;padding:2px;color:#333;">' + label + '</div>';

                        }
                    },
            highlight:{
              opacity: 0.08
            }
          }
        },
        grid: {
          hoverable: true,
          clickable: true
        },
        colors: color_scheme,
        legend: {
          show: false
        }
      });
      
    };



    /*Map*/
    $('#world-map').vectorMap({
        map: 'world_mill_en',
        backgroundColor: '#FFFFFF',
        regionStyle: {
          initial: {
            fill: '#58595b',
          },
          hover: {
            "fill-opacity": 0.8
          }
        },
        markerStyle:{
            initial:{
              r: 8
            },
             hover: {
              r: 12,
              stroke: 'rgba(88,89,91,0.3)',
              "stroke-width": 6
            }
          },
          markers: [
              {latLng: [41.90, 12.45], name: '1.512 Visits', style: {fill: '#f58236',stroke:'rgba(245,130,54,0.3)',"stroke-width": 3}},

              {latLng: [1.3, 103.8], name: '940 Visits', style: {fill: '#1DD2AF',stroke:'rgba(29,210,175,0.3)',"stroke-width": 3}},

              {latLng: [51.511214, -0.119824], name: '530 Visits', style: {fill: '#1DD2AF',stroke:'rgba(29,210,175,0.3)',"stroke-width": 3}},

              {latLng: [40.714353, -74.005973], name: '340 Visits', style: {fill: '#1DD2AF',stroke:'rgba(29,210,175,0.3)',"stroke-width": 3}},

              {latLng: [-22.913395, -43.200710], name: '1.800 Visits', style: {fill: '#1DD2AF',stroke:'rgba(29,210,175,0.3)',"stroke-width": 3}}
          ]
      });      

  });
</script>
