<div id="cl-wrapper">

  <div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <%= link_to ({:controller => "home", :action => "index"}) do %>
            <div class="sidebar-logo" style="background-color:#4A4A4A">
              <div class="logo">
                <a href="index.html.erb"></a>
              </div>
            </div>
          <% end %>
          <div class="side-user">
            <div class="avatar square-img"><img src="/images/dashboard/useravatar.png" alt="Avatar" style="border-radius:0" /></div>
            <div class="info info-align">
              <p>
                <b><%= @user.company %></b><br/><%= @user.name %>
              </p>
            </div>
          </div>
          <ul class="cl-vnavigation cl-vnavigation-custom">
            <li>
              <%= link_to ({:controller => "dashboard", :action => "charts", :id => params[:id]}) do %>
                <span>Traffic Overview</span>
              <% end %>
            </li>
            <li>
              <%= link_to ({:controller => "dashboard", :action => "details", :id => params[:id], :class_botuser => "users"}) do %>
                <span>Top User Details</span>
              <% end %>
            </li>
            <li>
              <%= link_to ({:controller => "dashboard", :action => "details", :id => params[:id], :class_botuser => "bots"}) do %>
                <span>Top Bot Details</span>
              <% end %>
            </li>
            <li>
              <%= link_to ({:controller => "dashboard", :action => "details", :id => params[:id], :class_botuser => "indexing"}) do %>
                <span>Top Indexing Details</span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-right collapse-button" style="padding:7px 9px;">
          <input type="text" class="form-control search" placeholder="Search..." />
          <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="pcont">
   <!-- TOP NAVBAR -->  
    <div class="cl-mcont">    
      <div class="page-head">
        <ol class="breadcrumb">
          <li><%= link_to "Home", {:controller => "home", :action => "index"} %></li>
          <li><%= link_to "Logout", {:action => "logout"} %></li>
        </ol>
      </div>  

      <!--TOP 10 SCRAPERS BAR CHART-->
      <div class="block-flat block-flat-details">
        <div class="row">
          <div class="col-md-12">
            <div class="header">  
              <% if @main_name.capitalize.downcase == 'indexing' %>             
                <h3 id="visitor-title"> Top <%= @main_name.capitalize %> Bots </h3>
              <% else %>
                <h3 id="visitor-title"> Top <%= @main_name.capitalize %>s</h3>
              <% end %>
            </div>
            <div class="content content-custom">
              <div id="scraper_statistics2" style="height: 350px; padding: 20px; position: relative;"></div>    
            </div>
          </div>
          <br>
          <br>
          <div class="header">              
            <h3 id="visitor-title">Top <%= @main_name.capitalize %> Details</h3>
          </div>
        </div>     
        
          
        <!--TOP Visitor 1--> 
        <!--SCRAPER DETAIL TEXT-->
        <% i = 0 %>
        <% @topips.slice(0,10).each do |ip| %>
          <% i += 1 %>
          <div class="row left-detail">
            <div class="col-sm-3 col-md-3">
              <div>              
                <h5 class="header-details left-detail"> About <%= @main_name %> #<%= i %></h5>
              </div>
              <div class="content"> 
                <div class="detail-text">
                  <b><%= ip.title %></b> <br>
                  <%= ip.ipaddress %> <br> 
                  <% if ip.country.nil? || ip.country == "" %>
                    <%= 'No country info' %>
                  <% else %>
                    <%= ip.country %>
                  <% end %>
                  <br>
                  Total Requests: <%= ip.request %><br>
                </div> 
              </div>  
            </div>

            <div class="col-sm-9 col-md-9">
              <div>              
                <h5 class="header-details">Top URLs Requested</h5>
              </div>
              <div id="scraper-request-pattern">
                <div class="content">
                  <div class="scraper_statistics3" data-index="<%= ip.ipaddress %>" style="height: 200px; padding: 20px; position: relative;"></div>    
                </div>
              </div>  
            </div>
          </div>
               
          <div class="row left-detail">
            
            <!--SCRAPER REQUESTS OVER TIME LINE CHART-->
            <div class="col-sm-6 col-md-6 detail_chart_custom">
              <div>              
                <h5 class="header-details">Avg Daily Requests</h5>
              </div>
              <div id="scraper-request-over-time">
                <div class="content content-custom">
                  <div class="scraper_statistics" data-index="<%= ip.ipaddress %>" style="height: 200px; padding: 20px; position: relative;"></div>
                </div>
              </div>  
            </div>

            <div class="col-sm-6 col-md-6 detail_chart_custom">
              <div>              
                <h5 class="header-details">Avg Hourly Requests</h5>
              </div>
              <div id="scraper-request-over-time-hour">
                <div class="content content-custom">
                  <div class="scraper_statistics_hour" data-index="<%= ip.ipaddress %>" style="height: 200px; padding: 20px; position: relative;"></div>
                </div>
              </div>  
            </div>

          </div>
          
          <hr class="detail-separator">
        <% end %>
      </div>  
    </div>
  </div>
</div>


  <script type="text/javascript">
    var link = $('link[href="css/style.css"]');
    
    if($.cookie("css")) {
      link.attr("href",'css/skin-' + $.cookie("css") + '.css');
    }
    
    $(function(){
      $("#color-switcher .toggle").click(function(){
        var s = $(this).parent();
        if(s.hasClass("open")){
          s.animate({'margin-right':'-109px'},400).toggleClass("open");
        }else{
          s.animate({'margin-right':'0'},400).toggleClass("open");
        }
      });
      
      $("#color-switcher .color").click(function(){
        var color = $(this).data("color");
        $("body").fadeOut(function(){
          //link.attr('href','css/skin-' + color + '.css');
          $.cookie("css", color, {expires: 365, path: '/'});
          window.location.href = "";
          $(this).fadeIn("slow");
        });
      });
    });


</script> 

<script type="text/javascript">

  $(window).load(function(){

    if (!jQuery.plot) {
      return;
    }
    var data = [];
    var totalPoints = 250;
    // random data generator for plot charts

    function getRandomData() {
      if (data.length > 0) data = data.slice(1);
      // do a random walk
      while (data.length < totalPoints) {
      var prev = data.length > 0 ? data[data.length - 1] : 50;
      var y = prev + Math.random() * 10 - 5;
      if (y < 0) y = 0;
      if (y > 100) y = 100;
      data.push(y);
      }
      // zip the generated y values with the x values
      var res = [];
      for (var i = 0; i < data.length; ++i) res.push([i, data[i]])
      return res;
    }

    function showTooltip(x, y, contents) {
      $("<div id='tooltip'>" + contents + "</div>").css({
        position: "absolute",
        display: "none",
        top: y + 5,
        left: x + 5,
        border: "1px solid #000",
        padding: "5px",
        'color':'#fff',
        'border-radius':'2px',
        'font-size':'11px',
        "background-color": "#000",
        opacity: 0.80
      }).appendTo("body").fadeIn(200);
    } 

    function randValue() {
      return (Math.floor(Math.random() * (1 + 50 - 20))) + 10;
    }

    if ($('.scraper_statistics').size() != 0) {

      /* Charts and other dashboard */

      color_scheme=["#2B82C0", "#7ACBBE", "#F58236", "#FEE95E", "#744B9E"];

      $('#scraper_statistics_loading').hide();
      $('#scraper_statistics_content').show();
      

      /* Requests per day by ip */

      <%
        dailyrequest_user_str = ""
        dailyrequest_ticks_str = ""
        i = 1 
        @dailyrequests.select{|x| x.type_id == 1}.each do |dailyrequest|
          dailyrequest_user_str += '[' + i.to_s + ', ' + dailyrequest.value.to_s + '],'
          if i % 2 == 0
            dailyrequest_ticks_str += '[' + i.to_s + ', "' + dailyrequest.rdate.strftime("%m/%d") + '"],'
          end
          i += 1
        end
        dailyrequest_user_str = dailyrequest_user_str[0..-1].html_safe if dailyrequest_user_str.length > 0
        dailyrequest_ticks_str = dailyrequest_ticks_str[0..-1].html_safe if dailyrequest_ticks_str.length > 0
      %>
      var dailyrequest_1 = [<%= dailyrequest_user_str %>];
      var dailyrequest_ticks = [<%= dailyrequest_ticks_str %>]; 

      



      var elements = $(".scraper_statistics");
      var stringstouse = "<%= escape_javascript @dailyip_str.to_json.html_safe %>";
      var stringstouse_ticks = "<%= escape_javascript @dailyip_name_str.to_json.html_safe  %>";

      var json_strings = JSON.parse(stringstouse);
      var json_strings_ticks = JSON.parse(stringstouse_ticks);

      for (var i=0; i<elements.length; i++)
      {
          var current_ip = $(elements[i]).data('index');
      
          var current_string = json_strings[current_ip];
          var array_fordata = convertToJSString(current_string, true);

          var current_string_ticks = json_strings_ticks[current_ip];
          var array_forticks = convertToJSString(current_string_ticks, false);

          var plot_statistics = $.plot($(elements[i]), [
           {
            data: array_fordata,
            label: "<%= @dailyrequests.select{|x| x.type_id == 1}.first.name %>"
          }
         ],
           {
            series: {
              lines: {
                show: true,
                lineWidth: 0.25, 
                fill: true,
                fillColor: {
                  colors: [{
                    opacity: 0.05
                  }, {
                    opacity: 0.05
                  }
                  ]
                } 
              },
              points: {
                show: true
              },
              shadowSize: 2
            },
            legend:{
              show: false
            },
            grid: {
            labelMargin: 10,
               axisMargin: 500,
              hoverable: true,
              clickable: true,
              tickColor: "rgba(0,0,0,0.15)",
              borderWidth: 0
            },

          /* USERS: "#"  BOTS: "#" AUTOMATED: "#" INDEXING:"#"  DEVELOPERS:"#" */
            colors: color_scheme,
            xaxis: {
               ticks: array_forticks
            },
            yaxis: {
              ticks: 5,
              tickDecimals: 0
            }
          });
      }





      var elements = $(".scraper_statistics_hour");
      var stringstouse = "<%= escape_javascript @hourlyip_str.to_json.html_safe %>";
      var stringstouse_ticks = "<%= escape_javascript @hourlyip_name_str.to_json.html_safe  %>";

      var json_strings = JSON.parse(stringstouse);
      var json_strings_ticks = JSON.parse(stringstouse_ticks);

      
      for (var i=0; i<elements.length; i++)
      {
          var current_ip = $(elements[i]).data('index');
      
          var current_string = json_strings[current_ip];
          var array_fordata = convertToJSString(current_string, true);

          var current_string_ticks = json_strings_ticks[current_ip];
          var array_forticks = convertToJSString(current_string_ticks, false);

          var plot_statistics = $.plot($(elements[i]), [
           {
            data: array_fordata,
            label: "<%= @dailyrequests.select{|x| x.type_id == 1}.first.name %>"
          }
          ],
           {
            series: {
              lines: {
                show: true,
                lineWidth: 0.25, 
                fill: true,
                fillColor: {
                  colors: [{
                    opacity: 0.05
                  }, {
                    opacity: 0.05
                  }
                  ]
                } 
              },
              points: {
                show: true
              },
              shadowSize: 2
            },
            legend:{
              show: false
            },
            grid: {
            labelMargin: 10,
               axisMargin: 500,
              hoverable: true,
              clickable: true,
              tickColor: "rgba(0,0,0,0.15)",
              borderWidth: 0
            },

          /* USERS: "#"  BOTS: "#" AUTOMATED: "#" INDEXING:"#"  DEVELOPERS:"#" */
            colors: color_scheme,
            xaxis: {
               ticks: array_forticks
            },
            yaxis: {
              ticks: 5,
              tickDecimals: 0
            }
          });
      }      
    

    pageviews = [<%= @topip_str %>];

    var plot_statistics2 = $.plot($("#scraper_statistics2"), [{
        data: pageviews,
        label: "Unique Visits"
      }
      ], {
        series: {
          bars: {
            show: true,
            barWidth: 0.6,
            lineWidth: 0,
            fill: true,
            hoverable: true,
            fillColor: {
              colors: [{
                opacity: 1
              }, {
                opacity: 1
              }
              ]
            } 
          },
          shadowSize: 2
        },
        legend:{
          show: false
        },
        grid: {
        labelMargin: 10,
           axisMargin: 500,
          hoverable: true,
          clickable: true,
          tickColor: "rgba(0,0,0,0.15)",
          borderWidth: 0
        },
        colors: ["#7ACBBE"],
        xaxis: {
          ticks: [<%= @topip_name_str %>],
          tickDecimals: 0
        },
        yaxis: {
          ticks: 6,
          tickDecimals: 0
        }
      });




    var elements = $(".scraper_statistics3");
    var stringstouse = "<%= escape_javascript @pages_str.to_json.html_safe %>";
    var stringstouse_ticks = "<%= escape_javascript @pages_name_str.to_json.html_safe %>";
    
    var json_strings = JSON.parse(stringstouse);
    var json_strings_ticks = JSON.parse(stringstouse_ticks);

    for (var i=0; i<elements.length; i++){
      var current_ip = $(elements[i]).data('index');
      
      var current_string = json_strings[current_ip];
      var array_fordata = convertToJSString(current_string, true);

      var current_string_ticks = json_strings_ticks[current_ip];
      var array_forticks = convertToJSString(current_string_ticks, false);

      var plot_statistics3 = $.plot($(elements[i]), [{
            data:  array_fordata.slice(0,6),
            label: "Unique Visits"
          }
          ], {
            series: {
              bars: {
                show: true,
                barWidth: 0.6,
                lineWidth: 0,
                fill: true,
                hoverable: true,
                fillColor: {
                  colors: [{
                    opacity: 1
                  }, {
                    opacity: 1
                  }
                  ]
                } 
              },
              shadowSize: 2
            },
            legend:{
              show: false
            },
            grid: {
            labelMargin: 10,
               axisMargin: 500,
              hoverable: true,
              clickable: true,
              tickColor: "rgba(0,0,0,0.15)",
              borderWidth: 0
            },
            colors: ["#7ACBBE"],
            xaxis: {
              ticks: array_forticks,
              tickDecimals: 0
            },
            yaxis: {
              ticks: 6,
              tickDecimals: 0
            }
          });
      }


      /* Peak Hours - Chart */

      <%
        hourrequest_user_str = ""
        hourrequest_ticks_str = ""
        i = 1 
        @hourrequests.select{|x| x.type_id == 1}.each do |hourrequest|
          hourrequest_user_str += '[' + i.to_s + ', ' + hourrequest.value.to_s + '],'
          if i % 3 == 0
            hourrequest_ticks_str += '[' + i.to_s + ', "' + hourrequest.rdate.strftime("%H %p") + '"],'
          end
          i += 1
        end
        hourrequest_user_str = hourrequest_user_str[0..-1].html_safe if hourrequest_user_str.length > 0
        hourrequest_ticks_str = hourrequest_ticks_str[0..-1].html_safe if hourrequest_ticks_str.length > 0
      %>
      var hourrequest_1 = [<%= hourrequest_user_str %>];
      var hourrequest_ticks = [<%= hourrequest_ticks_str %>];

      <%
        hourrequest_bot_str = ""
        i = 1 
        @hourrequests.select{|x| x.type_id == 2}.each do |hourrequest|
          hourrequest_bot_str += '[' + i.to_s + ', ' + hourrequest.value.to_s + '],'
          i += 1
        end
        hourrequest_bot_str = hourrequest_bot_str[0..-1].html_safe if hourrequest_bot_str.length > 0
      %>
      var hourrequest_2 = [<%= hourrequest_bot_str %>];

      <%
        hourrequest_indexing_str = ""
        i = 1 
        @hourrequests.select{|x| x.type_id == 3}.each do |hourrequest|
          hourrequest_indexing_str += '[' + i.to_s + ', ' + hourrequest.value.to_s + '],'
          i += 1
        end
        hourrequest_indexing_str = hourrequest_indexing_str[0..-1].html_safe if hourrequest_indexing_str.length > 0
      %>
      var hourrequest_3 = [<%= hourrequest_indexing_str %>];

      <%
        hourrequest_automated_str = ""
        i = 1 
        @hourrequests.select{|x| x.type_id == 4}.each do |hourrequest|
          hourrequest_automated_str += '[' + i.to_s + ', ' + hourrequest.value.to_s + '],'
          i += 1
        end
        hourrequest_automated_str = hourrequest_automated_str[0..-1].html_safe if hourrequest_automated_str.length > 0
      %>
      var hourrequest_4 = [<%= hourrequest_automated_str %>];

      var plot_statistics = $.plot($("#site_statistics3"), [
       {
        data: hourrequest_1,
        label: "<%= @hourrequests.select{|x| x.type_id == 1}.first.name %>"
      },
      {
        data: hourrequest_2,
        label: "<%= @hourrequests.select{|x| x.type_id == 2}.first.name %>"
      },
      {
        data: hourrequest_3,
        label: "<%= @hourrequests.select{|x| x.type_id == 3}.first.name %>"
      },
      {
        data: hourrequest_4,
        label: "<%= @hourrequests.select{|x| x.type_id == 4}.first.name %>"
      }
     ],
       {
        series: {
          lines: {
            lineColor: color_scheme,
            show: true,
            lineWidth: 0.25, 
            fill: true,
            fillColor: {
              colors: [{
                opacity: 0.0
              }, {
                opacity: 0.0
              }
              ]
            } 
          },
          points: {
            show: true
          },
          shadowSize: 2
        },
        legend:{
          show: false
        },
        grid: {
        labelMargin: 10,
           axisMargin: 500,
          hoverable: true,
          clickable: true,
          tickColor: "rgba(0,0,0,0.15)",
          borderWidth: 0
        },
        //colors: color_scheme,
        xaxis: {
           ticks: hourrequest_ticks
        },
        yaxis: {
          ticks: 5,
          tickDecimals: 0
        }
      });
    
      /*Tooltips*/
      
      var previousPoint = null;
      $(".scraper_statistics")[0].bind("plothover", function (event, pos, item) {
      
        var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";

        if (item) {
          if (previousPoint != item.dataIndex) {
            previousPoint = item.dataIndex;
            $("#tooltip").remove();
            var x = item.datapoint[0].toFixed(2),
            y = item.datapoint[1].toFixed(2);
            showTooltip(item.pageX, item.pageY,
            item.series.label + " of " + x + " = " + y);
          }
        } else {
          $("#tooltip").remove();
          previousPoint = null;
        }
      }); 
      
      $("#scraper_statistics2").bind("plothover", function (event, pos, item) {
      
        var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";

        if (item) {
          if (previousPoint != item.dataIndex) {
            previousPoint = item.dataIndex;
            $("#tooltip").remove();
            var x = item.datapoint[0],
            y = item.datapoint[1];
            showTooltip(item.pageX, item.pageY,
            item.series.label + "" + x + " = " + y + "%");
          }
        } else {
          $("#tooltip").remove();
          previousPoint = null;
        }
      }); 
      
      $("#chart3").bind("plothover", function (event, pos, item) {
      
        var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";

        if (item) {
          if (previousPoint != item.dataIndex) {
            previousPoint = item.dataIndex;
            $("#tooltip").remove();
            var x = item.datapoint[0].toFixed(2),
            y = item.datapoint[1].toFixed(2);
            showTooltip(item.pageX, item.pageY,
            item.series.label + " of " + x + " = " + y);
          }
        } else {
          $("#tooltip").remove();
          previousPoint = null;
        }
      }); 
    };


  });

  var convertToJSString = function(string_to_parse, convert){
    
    var splitbycolon = string_to_parse.split(';')
    var return_array = Array()

    splitbycolon.forEach(function(each){
      if(each.length > 1){
        var temp_array = Array();
        if(convert == true){
          temp_array.push(parseFloat(each.split('[')[1].split(']')[0].split(',')[0]));
          temp_array.push(parseFloat(each.split('[')[1].split(']')[0].split(',')[1]));
        }
        else
        {
          temp_array.push(parseFloat(each.split('[')[1].split(']')[0].split(',')[0]));
          temp_array.push(each.split('[')[1].split(']')[0].split(',')[1].replace(/"/g,""));
        }
        return_array.push(temp_array);
      }
    });

    return return_array;
  }

</script>
