<div id="cl-wrapper">

  <div class="cl-sidebar cl-sidebar_custom">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <%= link_to ({:controller => "home", :action => "index"}) do %>
            <div class="sidebar-logo" style="background-color:#4A4A4A">
              <div class="logo">
                  <a href="index.html.erb"></a>
                </div>
            </div>
          <% end %>
          <div class="side-user">
          

            <div class="info-custom bold_uppercase">
             <div class="sidebar_title">
              Choose an API
             </div>
            </div>
          </div>
          <ul class="cl-vnavigation cl-vnavigation-custom">
              <li><a href="#call-1"><%= @api_title1 %></a> </li>
              <li><a href="#call-2"><%= @api_title2 %></a> </li>
              <li><a href="#call-3"><%= @api_title3 %></a> </li>
          </ul>
        </div>
      </div>
      <div class="text-right collapse-button" style="padding:7px 9px;">
        <input type="text" class="form-control search" placeholder="Search..." />
        <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
      </div>
    </div>
  </div>

	<div class="container-fluid" id="pcont">
   <!-- TOP NAVBAR -->  

  	<div class="cl-mcont cl-mont_custom main-bkg">		
      <div class="page-head page-head_custom">
  			<ol class="breadcrumb">

  			</ol>
  		</div>
      <h2 class="main_header content_custom"><%= @api_domain %> API Calls</h2>	
       
      <div class="row content_custom">
        <!--API CALL 1-->   
        <div class="col-md-12">
          
          
            <div class="content"> 
              
              <div class="accordion" id="accordion2">
                
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <div class="api-request" id="call-1">
                      <div class="call_title">1. <%= @api_title1 %></div>
                        <br/>
                        <p class="api-description"><%= @api_maindesc1 %></p>
                        <br/>
                        <p class="call_section_title">Request call:</p>
                        <p><pre class="api-call api-call-hover"><%= @raw_request1 %></pre></p>
                    </div>       
                  </div>
                  <div class="accordion-inner accord-pad">
                    <p class="call_section_title">Call response example:</p>
                    <p><pre class="api-call response-overflow"><%= @response1 %></pre></p>
                    <br/>
                    <p class="call_section_title">API Parameters:</p>
                    <div class="documentation_table">
                        <table>
                            <tr>
                                <td>
                                    Name
                                </td>
                                <td >
                                    Values & Notes
                                </td>
                         
                            </tr>
                            <% @desc1.each do |key,value| %>
                              <tr>
                                <td>
                                  <%= key %>
                                </td>
                                <td>
                                  <%= value %>
                                </td>
                              </tr>
                            <% end %>
                        </table>
                    </div>
                    <br/>
                    <br/>
                  </div>
                </div>

                <div class="accordion-group">
                  <div class="accordion-heading">
                     <div class="api-request" id="call-2">
                        <div class="call_title">2. <%= @api_title2 %></div>
                        <br/>
                        <p class="api-description"><%= @api_maindesc2 %></p>
                        <br/>
                        <p class = "call_section_title">Request call:</p>
                        <p><pre class="api-call api-call-hover api-description" id="api-request">curl http://ec2-50-18-201-41.us-west-1.compute.amazonaws.com/api/virtualapi/listnerd/?method=list\&path=top-10-songs-by-savant</pre></p>
                    </div>
                  </div>
                  <div class="accordion-inner accord-pad">
                    <p class="call_section_title">Call response example:</p>
                    <p><pre class="api-call response-overflow"><%= @response2 %></pre></p>
                    <br/>
                    <p class="call_section_title">API Parameters:</p>
                    <div class="documentation_table">
                      <table>
                          <tr>
                              <td>
                                  Name
                              </td>
                              <td >
                                  Values & Notes 
                              </td>
                       
                          </tr>
                            <% @desc2.each do |key,value| %>
                              <tr>
                                <td>
                                  <%= key %>
                                </td>
                                <td>
                                  <%= value %>
                                </td>
                              </tr>
                            <% end %>
                      </table>
                    </div>
                  </div>
                </div>

                <br/>
                <br/>

                <div class="accordion-group">
                  <div class="accordion-heading">
                    
                     <div class="api-request" id="call-3">
                      <div class="call_title">3. <%= @api_title3 %></div>
                      <br/>
                        <p class="api-description"><%= @api_maindesc3 %></p>
                      <br/>
                      <p class="call_section_title">Request call:</p>
                      <p><pre class="api-call api-call-hover api-description" id="api-request api-call-hover">curl http://ec2-50-18-201-41.us-west-1.compute.amazonaws.com/api/virtualapi/listnerd/?method=search\&path=fun</pre></p>
                    </div>
                  </div>
                    <div class="accordion-inner accord-pad">
                      <p class="call_section_title">Call response example:</p>
                      <p><pre class="api-call response-overflow"><%= @response3 %></pre></p>
                      <br/>
                      <p class="call_section_title">API Parameters:</p>
                      <div class="documentation_table">
                          <table>
                              <tr>
                                  <td>
                                      Name
                                  </td>
                                  <td >
                                      Values & Notes 
                                  </td>
                           
                              </tr>
                            <% @desc3.each do |key,value| %>
                              <tr>
                                <td>
                                  <%= key %>
                                </td>
                                <td>
                                  <%= value %>
                                </td>
                              </tr>
                            <% end %>
                          </table>
                      </div>

                    </div>
                </div>
                

                <br/>
                <br/>

            


              </div>
            </div>
         
        </div>
      </div>    
  
    </div>
  </div>
</div> 