<div id="cl-wrapper">

  <div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <%= link_to ({:controller => "home", :action => "index"}) do %>
            <div class="sidebar-logo" style="background-color:#4A4A4A">
              <div class="logo">
                  <a href="index.html.erb"></a>
                </div>
            </div>
          <% end %>
          <div class="side-user">
            <div class="avatar square-img"><img src="/images/dashboard/useravatar.png" alt="Avatar" style="border-radius:0" /></div>

            <div class="info info-align">
              <p>
                <b><%= @user.company %></b><br/><%= @user.name %>
              </p>
            </div>
          </div>
          <ul class="cl-vnavigation cl-vnavigation-custom">
              <li><%= link_to ({:controller => "apitool", :action => "dashboard"}) do %><span>APIs</span><% end %></li>
              <li><%= link_to ({:controller => "apitool", :action => "new"}) do %><span>Create new</span><% end %></li>
          </ul>
        </div>
      </div>
      <div class="text-right collapse-button" style="padding:7px 9px;">
        <input type="text" class="form-control search" placeholder="Search..." />
        <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
      </div>
    </div>
  </div>

	<div class="container-fluid" id="pcont">
   <!-- TOP NAVBAR -->  

  	<div class="cl-mcont">		
      <div class="page-head">
  			<ol class="breadcrumb">
  			  <li><%= link_to "Home", {:controller => "home", :action => "index"} %></li>
  			  <li><%= link_to "Logout", {:controller => "dashboard", :action => "logout"} %></li>
  			</ol>
  		</div>
      <h2>List of API calls for www.listnerd.com</h2>	
       
      <div class="row">
        <!--Hourly Requests per Class-->   
        <div class="col-md-12">
          <div class="block-flat">
            <div class="header">
              <h3>API calls</h3>
            </div>
            <div class="content"> 
              <div class="accordion api-description" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      <div class="api-request">
                        API call #1. Top lists
                        <br/>
                        <p class = "api-description">Request call:</p>
                        <p><pre class="api-call api-call-hover">curl http://ec2-50-18-201-41.us-west-1.compute.amazonaws.com/api/virtualapi/listnerd/?method=frontpage</pre></p>
                      </div>
                    </a>
                    <br/>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner accord-pad">
                      <p>This is the description/documentation of the API. The description is crowdsourced from the community, i.e. you can make the description better. No one contributed to this description yet.</p>
                      <br/>
                      <p>Call response example:</p>
                      <p><pre class="api-call"><%= @response1 %></pre></p>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                     <div class="api-request">
                      API call #2. Info about one list
                      <br/>
                      <p class = "api-description">Request call:</p>
                      <p><pre class="api-call api-call-hover" id="api-request">curl http://ec2-50-18-201-41.us-west-1.compute.amazonaws.com/api/virtualapi/listnerd/?method=list\&path=top-10-songs-by-savant</pre></p>
                    </div>
                    </a>
                    <br/>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner accord-pad">
                      <p>Call response example:</p>
                      <p><pre class="api-call"><%= @response2 %></pre></p>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                     <div class="api-request">
                      API call #3. Search a query
                      <br/>
                      <p class = "api-description">Request call:</p>
                      <p><pre class="api-call api-call-hover" id="api-request api-call-hover">curl http://ec2-50-18-201-41.us-west-1.compute.amazonaws.com/api/virtualapi/listnerd/?method=search\&path=fun</pre></p>
                    </div>
                    </a>
                    <br/>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner accord-pad">
                      <p>Call response example:</p>
                      <p><pre class="api-call"><%= @response3 %></pre></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
  
    </div>
  </div>
</div> 