<div id="cl-wrapper">

  <div class="cl-sidebar cl-sidebar_custom">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space">
        <div class="content">
          <%= link_to ({:controller => "home", :action => "index"}) do %>
            <div class="sidebar-logo" style="background-color:#4A4A4A">
              <div class="logo">
                  <a href="index.html.erb"></a>
                </div>
            </div>
          <% end %>
          <div class="side-user">
            <div class="avatar square-img"><img src="/images/dashboard/useravatar.png" alt="Avatar" style="border-radius:0" /></div>

            <div class="info info-align">
              <p><b class="side-user_custom">User Name</b>
                <br/>
                <b class="side-user_custom">Company/Affiliation</b>
              </p>
            </div>
          </div>
          

          <div class="info-custom bold_uppercase">
           <div class="sidebar_title">
            Choose an API
           </div>
          </div>
          <ul class="cl-vnavigation cl-vnavigation-custom">
            <li><a href="#call-1"><%= @api_title1 %></a> </li>
            <li><a href="#call-2"><%= @api_title2 %></a> </li>
            <li><a href="#call-3"><%= @api_title3 %></a> </li>
            <br/>
          </ul>
        </div>
      </div>
      <div class="text-right collapse-button" style="padding:7px 9px;">
        <input type="text" class="form-control search" placeholder="Search..." />
        <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
      </div>
    </div>
  </div>

	<div class="container-fluid" id="pcont">
   <!-- TOP NAVBAR -->  

  	<div class="cl-mcont cl-mont_custom main-bkg">		
      <div class="page-head page-head_custom">
  			<ol class="breadcrumb">
  			  <li><%= link_to "Home", {:controller => "home", :action => "index"} %></li>
  			  <li><%= link_to "Logout", {:controller => "dashboard", :action => "logout"} %></li>
  			</ol>
  		</div>
      	
       
      <div class="row content_custom">
        <div class="col-md-12">

        <h2 class="main_header">Account Settings</h2>
        <br/>

          <div class="content"> 
            <h4>User:</h4> <p>username</p>
            <h4>API Key:</h4> <p>*********</p>
            <h4>API Access:</h4> <p>CoolCool</p>
             
          </div>
         
        </div>
      </div>    
    </div>
  </div>
</div> 